In [6]:
import pandas as pd

In [7]:
data = pd.read_csv(r"C:\Users\reem6\Desktop\data6\smoke_detection_iot.csv")
print('Data\n--------------------------------------------------------------------\n',data.head(10))
print('\nData descreption\n----------------------------------------------------------------------------\n',data.describe())

Data
--------------------------------------------------------------------
    num         UTC  Temperature  Humidity  TVOC  eCO2  Raw_H2  Raw_Ethanol  \
0    0  1654733331       20.000     57.36     0   400   12306        18520
1    1  1654733332       20.015     56.67     0   400   12345        18651
2    2  1654733333       20.029     55.96     0   400   12374        18764
3    3  1654733334       20.044     55.28     0   400   12390        18849
4    4  1654733335       20.059     54.69     0   400   12403        18921
5    5  1654733336       20.073     54.12     0   400   12419        18998
6    6  1654733337       20.088     53.61     0   400   12432        19058
7    7  1654733338       20.103     53.20     0   400   12439        19114
8    8  1654733339       20.117     52.81     0   400   12448        19155
9    9  1654733340       20.132     52.46     0   400   12453        19195

   Pressure  PM1   PM2  NC0    NC1   NC2  CNT  Fire_Alarm
0   939.735  0.0  0.00  0.0  0.000  0.00    0           0
1   939.744  0.0  0.00  0.0  0.000  0.00    1           0
2   939.738  0.0  0.00  0.0  0.000  0.00    2           0
3   939.736  0.0  0.00  0.0  0.000  0.00    3           0
4   939.744  0.0  0.00  0.0  0.000  0.00    4           0
5   939.725  0.0  0.00  0.0  0.000  0.00    5           0
6   939.738  0.0  0.00  0.0  0.000  0.00    6           0
7   939.758  0.0  0.00  0.0  0.000  0.00    7           0
8   939.758  0.0  0.00  0.0  0.000  0.00    8           0
9   939.756  0.9  3.78  0.0  4.369  2.78    9           0

Data descreption
----------------------------------------------------------------------------
                 num           UTC   Temperature      Humidity          TVOC  \
count  62630.000000  6.263000e+04  62630.000000  62630.000000  62630.000000
mean   31314.500000  1.654792e+09     15.970424     48.539499   1942.057528
std    18079.868017  1.100025e+05     14.359576      8.865367   7811.589055
min        0.000000  1.654712e+09    -22.010000     10.740000      0.000000
25%    15657.250000  1.654743e+09     10.994250     47.530000    130.000000
50%    31314.500000  1.654762e+09     20.130000     50.150000    981.000000
75%    46971.750000  1.654778e+09     25.409500     53.240000   1189.000000
max    62629.000000  1.655130e+09     59.930000     75.200000  60000.000000

               eCO2        Raw_H2   Raw_Ethanol      Pressure           PM1  \
count  62630.000000  62630.000000  62630.000000  62630.000000  62630.000000
mean     670.021044  12942.453936  19754.257912    938.627649    100.594309
std     1905.885439    272.464305    609.513156      1.331344    922.524245
min      400.000000  10668.000000  15317.000000    930.852000      0.000000
25%      400.000000  12830.000000  19435.000000    938.700000      1.280000
50%      400.000000  12924.000000  19501.000000    938.816000      1.810000
75%      438.000000  13109.000000  20078.000000    939.418000      2.090000
max    60000.000000  13803.000000  21410.000000    939.861000  14333.690000

                PM2           NC0           NC1           NC2           CNT  \
count  62630.000000  62630.000000  62630.000000  62630.000000  62630.000000
mean     184.467770    491.463608    203.586487     80.049042  10511.386157
std     1976.305615   4265.661251   2214.738556   1083.383189   7597.870997
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        1.340000      8.820000      1.384000      0.033000   3625.250000
50%        1.880000     12.450000      1.943000      0.044000   9336.000000
75%        2.180000     14.420000      2.249000      0.051000  17164.750000
max    45432.260000  61482.030000  51914.680000  30026.438000  24993.000000

         Fire_Alarm
count  62630.000000
mean       0.714626
std        0.451596
min        0.000000
25%        0.000000
50%        1.000000
75%        1.000000
max        1.000000

In [8]:
features_no = len(data.columns)-2
print('The number of columns are: ',features_no)

The number of columns are:  14

In [9]:
data_no = data.shape[0]
print('The number of rows are: ',data_no)

The number of rows are:  62630

In [10]:
data = data.drop('UTC', axis=1)
print("Data after droping the 'UTC' coulmn\n-----------------------------------------------------------------------\n",data)

Data after droping the 'UTC' coulmn
-----------------------------------------------------------------------
          num  Temperature  Humidity  TVOC  eCO2  Raw_H2  Raw_Ethanol  \
0          0       20.000     57.36     0   400   12306        18520
1          1       20.015     56.67     0   400   12345        18651
2          2       20.029     55.96     0   400   12374        18764
3          3       20.044     55.28     0   400   12390        18849
4          4       20.059     54.69     0   400   12403        18921
...      ...          ...       ...   ...   ...     ...          ...
62625  62625       18.438     15.79   625   400   13723        20569
62626  62626       18.653     15.87   612   400   13731        20588
62627  62627       18.867     15.84   627   400   13725        20582
62628  62628       19.083     16.04   638   400   13712        20566
62629  62629       19.299     16.52   643   400   13696        20543

       Pressure   PM1   PM2   NC0    NC1    NC2   CNT  Fire_Alarm
0       939.735  0.00  0.00  0.00  0.000  0.000     0           0
1       939.744  0.00  0.00  0.00  0.000  0.000     1           0
2       939.738  0.00  0.00  0.00  0.000  0.000     2           0
3       939.736  0.00  0.00  0.00  0.000  0.000     3           0
4       939.744  0.00  0.00  0.00  0.000  0.000     4           0
...         ...   ...   ...   ...    ...    ...   ...         ...
62625   936.670  0.63  0.65  4.32  0.673  0.015  5739           0
62626   936.678  0.61  0.63  4.18  0.652  0.015  5740           0
62627   936.687  0.57  0.60  3.95  0.617  0.014  5741           0
62628   936.680  0.57  0.59  3.92  0.611  0.014  5742           0
62629   936.676  0.57  0.59  3.90  0.607  0.014  5743           0

[62630 rows x 15 columns]